.GarageInfo{
    display: inline-block;
    position: relative;
    width: 400px;
    margin: 0 auto;
    padding: 10px;
    padding-bottom: 0px;
}
.nav-tabs{
   border-bottom: 1px solid rgba(248, 201, 62, 0.2) !important;
   float: none !important;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
    border-color: rgba(248, 201, 62, 0.2) !important;
    background: rgba(248, 201, 62, 0.2) !important;
}
.GarageInfo ul li {
    text-align: left;
}
h1{
    margin-bottom: 0 !important
}
.card-body{
    padding-bottom: 0px !important;
}