.GarageInfo{
    display: inline-block;
    position: relative;
    width: 400px;
    margin: 0 auto;
    padding: 10px;
}

.GarageInfo ul li {
    text-align: left;
}
h1{
    margin-bottom: 0 !important
}